// start .sForm
.sForm {
	--sPB: 60px;
	@include media-breakpoint-up(md){
		--sPB: 72px;
	}
	@include media-breakpoint-up(xl){
		--sPB: 96px;
	}
	//
	.section-title{

	}

	.form-wrap{
		&__inputs{
			border-bottom: 1px solid $gray-310;

			padding-bottom: 36px;
			margin-bottom: 21px;
			@include media-breakpoint-up(md){
				padding-bottom: 60px;
				margin-bottom: 36px;
			}
		}

		&__input-wrap{
			label{
				@include media-breakpoint-up(md){
					display: flex;
				}
			}

			margin-bottom: 12px;
			&:last-child{
				margin-bottom: 0;
			}

			textarea{
				height: 131px;
			}
		}
		&__input{

		}
		&__input-title{
			flex-shrink: 0;
			width: 100px;
			padding-right: 10px;
			padding-top: 12px;

			font-size: 14px;
			line-height: (17/14);
		}
		&__{}

		&__foot{

		}
		&__f-row{
			flex-direction: column-reverse;
			@include media-breakpoint-up(md){
				flex-direction: row;
			}

			& > *{
				margin-bottom: 12px;
			}
			margin-bottom: -12px;
		}
		&__policy{
			font-size: 10px;
			line-height: 1.4;
		}
		&__btn{
			@extend .btn;
			@extend .btn-primary;
		}
	}
	//
	&__{}
	&__{}
} // end.sForm