.modal-win {
	max-width: 555px!important;
	width: 100% !important;
	position: relative;
	padding: 36px 0 48px 0;

	&__title{
		margin-bottom: 48px;
		font-size: 20px;
		line-height: 1.2;
	}
	&__btn{
		@extend .btn;
		@extend .btn-primary;
		width: 100%;
	}
	&__btn-outline{
		@extend .btn;
		@extend .btn-outline-primary;
		width: 100%;
	}
	//
	.form-wrap{
		&__inputs{
			padding-bottom: 24px;
		}
		&__input-wrap{
			margin-bottom: 12px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		&__input{

		}
		&__input-title{
			display: block;
			margin-bottom: 6px;
			font-size: 14px;
			line-height: (17/14);
		}
		&__btn-pirmary{
			@extend .btn;
			@extend .btn-primary;
		}
		&__btn-light{
			@extend .btn;
			@extend .btn-light;
		}
		&__btn-outline-light{
			@extend .btn;
			@extend .btn-outline-light;
		}

		&__btn-enter{
			@extend .btn;
			@extend .btn-light;
			display: block;
			width: 165px;
			margin: 0 auto 12px auto;
		}
		&__btn-reg{
			@extend .btn;
			@extend .btn-outline-light;
			color: $body-color!important;

			display: block;
			width: 165px;
			margin: 0 auto;
		}
		//
		&__{}
		&__{}

	}
	.tabs{
		&__caption{
			margin: 0 0 24px;
			border-bottom: 1px solid $primary;
		}
		&__btn{
			font-size: 14px;
			line-height: (18/14);
			padding: 6px 0;
			&.active{
				color: $primary;
			}
		}
		&__wrap{

		}
		&__content{

		}
		&__{}
	}
	&__{}
	&__{}
}

.polite{
	font-size: 12px;
	line-height: (17/12);
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}


.mfp-close {
	user-select: none;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	font-style: normal;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 0;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px;
	border-radius: 50%;
	line-height: 56px;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;
}

.fancybox-container{
	backdrop-filter: blur(2px);
}
.fancybox-bg{
	background: rgba(6, 113, 71, 0.75);
}

.fill-props-cont,
.load-props-cont {
	min-height: rem(300px);
	border-bottom: 1px solid $light;

	display: none;

	&.active {
		display: block;
	}
}
.dropzone {
	border: 1px dashed $light;
	min-height: rem(100px);
	padding: 0;
	text-align: center;
}
.dz-button {
	color: $body-color;
	font-size: rem(16px);
	line-height: rem(19px);
	font-weight: 300;
}