mixin sContact()
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		.container
			block
			+b.section-title.light.long
				h2 Контакты
			+e.row.row
				+contactItem('Режим работы')
					+e.table
						+tableRow('Пн. - пт.', 'c 9:00 до 20:00 часов')
						+tableRow('Пн. - пт.', 'c 10:00 до 18:00 часов')
				+contactItem('Режим работы')
					+e.table
						+tableRow('Пн. - пт.', 'c 9:00 до 20:00 часов')
						+tableRow('Пн. - пт.', 'c 10:00 до 18:00 часов')
				+contactItem('Адрес', 'map-inside')
					+e.table
						+e.tab-row.row
							+e.white-col.col-12 Москва, Дмитровское шоссе, д.62, с. 5
					+e.map
						iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2239.5156698618516!2d37.56355966648197!3d55.85371906501976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b537a5656ddadb%3A0xcf5941a075bf386b!2z0JTQvNC40YLRgNC-0LLRgdC60L7QtSDRiC4sIDYyINGB0YLRgNC-0LXQvdC40LUgNSwg0JzQvtGB0LrQstCwLCDQoNC-0YHRgdC40Y8sIDEyNzQ3NA!5e0!3m2!1sru!2sua!4v1616290125361!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy")
					+e.btn-outline(href='#') Распечатать
				+contactItem('Реквизиты')
					+e.table
						+tableRow('Название', 'ООО «Техносадов»')
						+tableRow('ОГРН', '1187746800845')
						+tableRow('ИНН', '7743273314')
						+tableRow('КПП', '771301001')
						+tableRow('Расч. счет', '40702810037100000151')
						+tableRow('Банк', '')
							| Филиал № 7701
							br
							| Банка ВТБ (ПАО) г.Москва
						+tableRow('Корр. счет', '30101810345250000745')
						+tableRow('БИК', '044525745')
						+tableRow('Юр. адрес:', '')
							.pb-12
								| 127474, г. Москва,
								br
								| ш. Дмитровское, д.62, строение 5,
								br
								| этаж 1, помещение X, комната 1
					+e.btn-outline(href='#') Скачать реквизиты
	// end sContact

mixin contactItem(title, addClasses='')
	.col-lg-6
		+e.item(class=addClasses)
			+e.header=title
			block

mixin tableRow(name, val)
	+e.tab-row.row
		+e.gray-col.col-6=name
		if block
			+e.white-col.col-6
				block
		else
			+e.white-col.col-6=val