// start .headerBlock
.headerBlock {
	--sPT: 0;
	--sPB: 1px;
	@include media-breakpoint-up(md){
		--sPB: 4px;
	}
	@include media-breakpoint-up(xl){
		--sPB: 12px;
	}

	.container{
		@include media-breakpoint-down(xl){
			max-width: 100% !important;
			padding: 0!important;
		}
	}

	&__slider-wrap{
		.swiper-wrapper{

		}
		.swiper-slide{

		}
		.swiper-pagination{
			position: absolute;
			z-index: 2;

			bottom: 13px!important;
			@include media-breakpoint-up(md){
				bottom: 25px!important;
			}
			left: 0;
		}
	}
	&__slide-link{
		@extend .accept-ratio-frame;
		padding-top: (152/360) * 100%;
		@include media-breakpoint-up(md){
			padding-top: (324/768) * 100%;
		}
		@include media-breakpoint-up(lg){
			padding-top: (480/1140) * 100%;
		}

	}

	&__slider-wrap{
		position: relative;
	}


}

// end.headerBlock