mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+e.slider-wrap
				.swiper-container.gallery-top
					.swiper-wrapper
						+headerBlockSlide('https://shop-hikoki.ru/upload/iblock/6d7/kmk2viu2bqbqtdysyhvu4j8fre4tc2r9/promo8-24_1425_main_slider%20(1).png')
						//- +headerBlockSlide(2)
						+headerBlockSlide('https://shop-hikoki.ru/upload/iblock/6d7/kmk2viu2bqbqtdysyhvu4j8fre4tc2r9/promo8-24_1425_main_slider%20(1).png')
						+headerBlockSlide('https://shop-hikoki.ru/upload/iblock/aa3/pejn4grst2kxl9ycjzm2fpbk2z978c8c/giletka-24_1425_main_slider%20(1).png')
						+headerBlockSlide('https://shop-hikoki.ru/upload/iblock/0a0/6zssojhvk8if1vy2t6qhvoaikqocfhye/stroi_mart_2023_1425_main_slider%20%281%29.png')
						+headerBlockSlide('https://shop-hikoki.ru/upload/iblock/db8/z4tmm1dme8ra6ap3azoagtklmn0jnv63/sds_max_mart_2023_1425_main_slider%20%281%29.png')
						+headerBlockSlide('https://shop-hikoki.ru/upload/iblock/d39/1uybiqe65h0npctogqu8xqk66g5ni28x/mixer_hikoki_1425_main_slider%20%281%29.png')
						+headerBlockSlide('https://shop-hikoki.ru/upload/iblock/b6e/Frame%209%20%281%29.png')
						+headerBlockSlide('https://shop-hikoki.ru/upload/iblock/6d7/kmk2viu2bqbqtdysyhvu4j8fre4tc2r9/promo8-24_1425_main_slider%20(1).png')
						//- +headerBlockSlide()
						//- +headerBlockSlide()
						//- +headerBlockSlide()
						//- +headerBlockSlide()
						+headerBlockSlide('https://shop-hikoki.ru/upload/iblock/6d7/kmk2viu2bqbqtdysyhvu4j8fre4tc2r9/promo8-24_1425_main_slider%20(1).png')
					.swiper-pagination
				+arrow('d-none d-xl-flex')

	// end headerBlock

mixin headerBlockSlide(imgNum= 'img/@2x/header-slide-1.png')
	+e.slide.swiper-slide.bg-wrap
		+e.slide-link(href='#')
			img.swiper-lazy(src="#" data-src= imgNum, alt="")