// start .sPAcc
.sPAcc {
	--sTPB: 24px;

	--sPT: 12px;
	--sPB: 60px;
	@include media-breakpoint-up(md){
		--sPT: 24px;
		--sPB: 72px;
	}
	@include media-breakpoint-up(xl){
		--sPB: 96px;
	}

	.section-title{
		&:before{
			margin-bottom: 0!important;
		}
		&__row{
			padding: 12px 12px 12px 20px;
			@include media-breakpoint-up(md){
				padding: 16px 21px;
			}
			@include media-breakpoint-up(xl){
				padding: 16.5px 24px;
			}
		}
		h2{
			@include media-breakpoint-down(sm){
				font-size: 18px;
			}
		}
		&__log-out{
			display: flex;
			align-items: center;

			font-size: 14px;
			line-height: (17/14);

			color: $body-color;
			&:hover{
				color: $primary;
			}
		}
		&__icon{
			width: 24px;
			height: 26px;
			margin-right: 10px;

			display: flex;
			align-items: center;
			justify-content: center;

			img{
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;
			}
		}
	}
	//
	&__row{
		& > *{
			margin-bottom: 36px;
		}
		margin-bottom: -40px;
		@include media-breakpoint-up(md){
			& > *{
				margin-bottom: 48px;
			}
			margin-bottom: -48px;
		}
	}
	&__tab-btn{
		@include mt();
		padding: 14px 20px;
		min-height: 48px;
		font-size: 14px;
		line-height: (17/14);

		display: flex;
		align-items: center;

		background-color: $light;
		border: 1px solid $secondary;
		border-top: none;
		&:first-child{
			border-top: 1px solid $secondary;
		}

		&.active{
			background-color: $body-color;
			border-color: $body-color;
			color: $white;
		}
	}
	&__info-content{
		@include media-breakpoint-up(xl){
			max-width: 661px;
		}
	}
	&__profile-txt{
		&:last-child{
			margin-bottom: 0;
		}

		margin-bottom: 48px;
		@include media-breakpoint-up(md){
			margin-bottom: 48px;
		}
		@include media-breakpoint-up(xl){
			margin-bottom: 60px;
		}
	}
	&__p-title{
		font-size: 20px;
		line-height: (24/20);
		margin-bottom: 24px;
	}
	&__p-data{
		margin-bottom: 26px;
	}
	&__pd-row{
		flex-wrap: nowrap;

		@include roww(20px);
		& > *{
			margin-bottom: 12px;
		}
		margin-bottom: -12px;
		padding-bottom: 12px;
		&:last-child{
			padding-bottom: 0;
		}

		font-size: 14px;
		line-height: (17/14);
	}

	--title-width: 96px;
	&__pd-name{
		flex-shrink: 0;
		width: var(--title-width, 96px);
	}
	&__pd-val{

	}
	&__change-btn{
		@extend .btn;
		@extend .btn-outline-primary;

		min-width: 100%;
		@include media-breakpoint-up(sm){
			min-width: 262px;
		}
	}
	//
	&__change-box{
		&:last-child{
			padding-bottom: 0;
		}

		padding-bottom: 48px;
		@include media-breakpoint-up(md){
			padding-bottom: 48px;
		}
		@include media-breakpoint-up(xl){
			padding-bottom: 60px;
		}
	}
	.form-wrap{
		&__inputs{
			padding-bottom: 24px;
		}
		&__input-wrap{
			margin-bottom: 12px;
			&:last-child{
				margin-bottom: 0;
			}
			label{
				@include media-breakpoint-up(md){
					display: flex;
					align-items: center;
				}
			}
		}
		&__input-title{
			font-size: 14px;
			line-height: (17/14);

			display: block;

			flex-shrink: 0;
			margin-bottom: 6px;
			@include media-breakpoint-up(md){
				margin-bottom: 0px;
				width: var(--title-width, 96px);
			}
		}
		&__input-box{
			position: relative;
			flex-grow: 1;
		}
		&__input{
			//padding: 15px 20px;
			padding-right: 50px;
		}
		&__cross-btn{
			position: absolute;
			cursor: pointer;
			height: 100%;
			width: 48px;
			top: 0;
			right: 0;

			display: flex;
			align-items: center;
			justify-content: center;
			&:hover{
				transform: scale(1.1);
				.icon{
					stroke-width: 1.5px;
				}
			}

			.icon{
				@include mt();
				color: transparent;
				font-size: 12px;
				stroke-width: 1px;
				stroke: $black;
			}
		}
		//
		&__btns-row{
			& > *{
				margin-bottom: 12px;
			}
			margin-bottom: -12px;

			//padding-bottom: 48px;
		}
		&__btn{
			@extend .btn;
			min-width: 100%;
			@include media-breakpoint-up(md){
				min-width: 262px;
			}

			&--save{
				@extend .btn-primary;
			}
			&--cancel{
				@extend .btn-outline-primary;
			}
		}
		&__{}
	}
	//
	&__{}
} // end.sPAcc

.pa-orders{
	&__title{
		font-size: 20px;
		line-height: 1.2;

		margin-bottom: 20px;
	}
	&__items{

	}
	&__item{
		margin-bottom: 12px;
		&:last-child{
			margin-bottom: 0;
		}
		border-bottom: 1px solid $secondary;

		--side-padding: 15px;
		@include media-breakpoint-up(xsm){
			--side-padding: 20px;
		}
		@include media-breakpoint-up(sm){
			--side-padding: 30px;
		}

		--head-bg: #{$white};
		&:not(.active):hover{
			--head-bg: #{$light};
		}

		--head-bord-col: #{$secondary};
		--head-col: #{$body-color};
		--head-num-col: #{$primary};
		--date-col: rgba(51, 51, 51, 0.5);
		&.active{
			--head-bg: #{$body-color};
			--head-bord-col: #{$body-color};
			--head-col: #{$white};
			--head-num-col: #{$white};
			--date-col: rgba(255,255,255, 0.5);
		}
	}
	&__head{
		min-height: 71px;
		@include mt();
		cursor: pointer;

		padding: 20px var(--side-padding, 20px);
		@include media-breakpoint-up(md){
			padding: 24px var(--side-padding, 30px);
		}

		border-top: 1px solid var(--head-bord-col, #{$secondary});
		border-right: 1px solid var(--head-bord-col, #{$secondary});
		border-left: 1px solid var(--head-bord-col, #{$secondary});

		background-color: var(--head-bg, white);
		color: var(--head-col, black);
	}
	&__h-main-row{
		font-size: 14px;
		line-height: (17/14);
	}
	&__h-sub-row{
		& > *{
			margin-bottom: 4px;
		}
		margin-bottom: -4px;
	}
	//
	&__num-col{
		font-weight: bold;
		color: var(--head-num-col, #{$primary});
	}
	&__date-col{
		color: var(--date-col);

		@include media-breakpoint-down(md){
			margin-bottom: 12px;
		}
	}
	&__price-col{

	}
	&__status-col{
		@include media-breakpoint-up(md){
			min-width: 100px;
		}
		@include media-breakpoint-up(xl){
			min-width: 150px;
		}
	}
	&__chevron{
		width: 14px;
		height: 14px;

		display: flex;
		align-items: center;
		justify-content: flex-end;

		.icon{
			@include mt();
			font-size: 14px;
			stroke: var(--head-num-col, #{$primary});
			color: transparent;
		}
		@include mt();
		transform: var(--chevron-tf);
	}
	//
	&__content{
		border-left: 1px solid $secondary;
		border-right: 1px solid $secondary;
		display: none;
		&.active{
			display: block;
		}
	}
	//
	&__top-box{
		padding: 36px var(--side-padding, 30px);
		@include media-breakpoint-up(md){
			padding: 36px var(--side-padding, 30px);
		}
		@include media-breakpoint-up(xl){
			padding: 36px var(--side-padding, 30px) 23px;
		}
		border-bottom: 1px solid $secondary;
	}
	&__t-row{
		& > *{
			margin-bottom: 24px;
		}
		margin-bottom: -24px;
		padding-bottom: 36px;
	}
	&__tl-col{
		@include media-breakpoint-up(md){
			width: 50%;
		}
		@include media-breakpoint-up(lg){
			width: 58.3%;
		}
	}
	&__tr-col{

	}
	&__t-title{
		font-weight: bold;
		font-size: 14px;
		line-height: (17/14);
		margin-bottom: 24px;
	}
	//t-info
	&__t-info{

	}
	&__ti-row{
		@include roww(28px);
		& > *{
			margin-bottom: 4px;
		}
		margin-bottom: -4px;

		padding-bottom: 12px;
		&:last-child{
			padding-bottom: 0;
		}
	}
	&__ti-key-col{
		@include media-breakpoint-up(xl){
			width: 165px!important;
		}

		font-size: 14px;
		line-height: (17/14);
		color: rgba(51, 51, 51, 0.5);
	}
	&__ti-val-col{
		font-size: 14px;
		line-height: (17/14);
	}
	//t-dates
	&__t-dates{

	}
	&__td-row{
		@include media-breakpoint-up(xl){
			@include roww(26px);
		}

		& > *{
			margin-bottom: 4px;
		}
		margin-bottom: -4px;

		padding-bottom: 12px;
		&:last-child{
			padding-bottom: 0;
		}
	}
	&__td-date-col{
		@include media-breakpoint-up(xl){
			width: 123px!important;
		}
		font-size: 14px;
		line-height: (17/14);
		color: rgba(51, 51, 51, 0.5);
		display: flex;
		align-items: center;
	}
	&__td-ball{
		width: 12px;
		height: 12px;
		border-radius: 50%;
		border: 1px solid;
		margin-right: 13px;
	}
	&__td-status-col{
		font-size: 14px;
		line-height: (17/14);


		@include media-breakpoint-down(xl){
			padding-left: 40px;
		}
	}
	//goods
	&__goods{

	}
	&__g-title{
		border-top: 1px solid $primary;
		&:before{
			content: '';
			display: block;
			width: 165px;
			height: 4px;
			background-color: $primary;
			margin-bottom: 20px;
		}
		h4{
			font-weight: bold;
			font-size: 14px;
			line-height: (17/14);
			margin-bottom: 12px;
		}
	}
	&__g-items{

	}
	//foot
	&__foot{
		background-color: $light;

		padding: 20px var(--side-padding, 20px);
		@include media-breakpoint-up(md){
			padding: 24px var(--side-padding, 30px);
		}
	}
	&__f-data{
		max-width: 300px;
	}
	&__fd-row{
		& > *{
			margin-bottom: 10px;
		}
		margin-bottom: -10px;

		font-size: 14px;
		line-height: (24/14);

		&.huge-row{
			font-weight: 300;
			font-size: 24px;
			line-height: (38/24);
		}
	}
	&__fd-key-col{

	}
	&__fd-val-col{

	}
	&__{}
}

.g-item{
	padding: 12px 0;
	@include media-breakpoint-up(md){
		padding: 12px 20px 12px 16px;
	}
	@include media-breakpoint-up(xl){
		padding: 12px 20px 12px 16px;
	}

	&__row{
		@include roww(12px);
		@include media-breakpoint-up(sm){
			@include roww(30px);
		}
	}
	&__img-col{
		@include media-breakpoint-down(sm){
			align-self: flex-start;
		}
	}
	&__img{
		width: 48px;
		height: 48px;
		@include media-breakpoint-up(sm){
			width: 120px;
			height: 120px;
		}

		display: flex;
		align-items: center;
		justify-content: center;
		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	//
	&__col-with-row{
		align-self: stretch;
	}
	&__inner-row{
		min-height: 100%;
	}
	&__txt-col{
		align-self: stretch;
	}
	&__tag{
		display: inline-flex;
		font-weight: bold;
		color: $white;
		background-color: $danger;
		border-radius: 20px;

		font-size: 8px;
		line-height: (12/8);
		padding: 0 4px;
		margin-bottom: 10px;
		@include media-breakpoint-up(sm){
			font-size: 10px;
			line-height: (12/10);
			padding: 4px 7.5px;
			margin-bottom: 16px;
		}

		letter-spacing: 0.1em;
		text-transform: uppercase;
	}
	&__code{
		font-size: 10px;
		line-height: (14/10);
		margin-bottom: 6px;
		@include media-breakpoint-up(sm){
			font-size: 12px;
			line-height: (14/12);
			margin-bottom: 8px;
		}

		color: $gray-570;
	}
	&__title{
		display: block;

		font-size: 12px;
		line-height: (20/14);
		@include media-breakpoint-up(sm){
			font-size: 14px;
			line-height: (20/14);
		}

		margin-bottom: 12px;
		@include media-breakpoint-up(md){
			margin-bottom: 0;
		}

		color: $primary;
	}
	&__price--old{
		font-size: 12px;
		line-height: (14/12);
		text-decoration-line: line-through;

		color: $danger;
		margin-bottom: 4px;
	}
	&__price--new{
		font-size: 16px;
		line-height: (19/16);
	}
	&__amount-col{
		text-align: right;
		@include media-breakpoint-up(xsm){
			min-width: 87px;
		}
		@include media-breakpoint-up(md){
			min-width: 110px;
		}
		@include media-breakpoint-up(xl){
			min-width: 149px;
		}

		font-size: 16px;
		line-height: (19/16);
	}
	&__{}
	&__{}
	&__{}
}