// start .sArticals
.sArticals {
	@include media-breakpoint-up(xl){
		--sPT: 40px;
	}

	&--page{
		//fight prev style
		--sPT: 12px;
		@include media-breakpoint-up(md){
			--sPT: 24px;
		}
		@include media-breakpoint-up(xl){
			--sPT: 24px;
		}

		--sPB: 60px;
		@include media-breakpoint-up(md){
			--sPB: 72px;
		}
		@include media-breakpoint-up(xl){
			--sPB: 96px;
		}

		.section-title{
			h1{
				font-size: 24px;
			}
		}
		//
		.sArticals__row{
			margin-bottom: 0;
		}
	}


	.section-title{
		&__all-links{
			display: flex;
			align-items: center;

			font-size: 14px;
			line-height: (17/14);

			.icon{
				font-size: 12px;
				margin-left: 12px;
				color: transparent;
				stroke: $primary;
			}
		}
	}
	&__row{
		& > *{
			margin-bottom: 30px;
		}
		margin-bottom: -30px;
		@include media-breakpoint-up(xl){
			& > *{
				margin-bottom: 48px;
			}
			margin-bottom: -48px;
		}
	}
	&__img-wrap{
		@extend .accept-ratio-frame-nh;
		padding-top: (220/360) * 100%;
		margin-bottom: 12px;

		&:after{
			@include mt();
			content: 'Читать';
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			opacity: 0;
			width: 100%;
			height: 100%;

			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;

			background-color: rgba($primary, .75);
			color: $white;
		}
		&:hover{
			&:after{
				opacity: 1;
			}
		}
	}
	&__title{
		display: block;

		font-size: 14px;
		line-height: 1.4;

		align-items: center;
		color: $body-color;
		&:hover{
			color: $primary;
		}
	}
	p{
		font-weight: 300;
		margin-bottom: 0;
	}
	&__link{
		display: inline-flex;
		align-items: center;
		.icon{
			color: transparent;
			stroke: $primary;
			font-size: 1rem;
			margin-left: rem(10);
		}
	}

	&__plus-btn{
		@extend .btn;
		@extend .btn-light;

		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		width: 50px;
		height: 50px;
		border-radius: 50%;

		.icon{
			font-size: 24px;
			stroke: $primary;
			stroke-width: 2px;
		}
	}
} // end.sArticals