// start .sCart
.sCart {
	--sTPB: 24px;

	--sPT: 12px;
	--sPB: 60px;
	@include media-breakpoint-up(md){
		--sPT: 24px;
		--sPB: 72px;
	}
	@include media-breakpoint-up(xl){
		--sPB: 96px;
	}

	.section-title{
		@include media-breakpoint-down(md){
			margin-bottom: 20px;
		}
		h2{
			@include media-breakpoint-down(md){
				padding-bottom: 11px;
			}
		}
	}
	&__main-row{
		& > *{
			margin-bottom: 35px;
		}
		margin-bottom: -35px;
		@include media-breakpoint-up(md){
			& > *{
				margin-bottom: 30px;
			}
			margin-bottom: -30px;
		}

	}
	&__item{
		border: 1px solid $gray-310;

		margin-bottom: 60px;
		padding: 4px 12px 25px;
		@include media-breakpoint-up(md){
			margin-bottom: 20px;
			padding: 10px 24px 16px;
		}
		&:last-child{
			margin-bottom: 40px;
			@include media-breakpoint-up(md){
				margin-bottom: 0;
			}
		}
		@include media-breakpoint-up(lg){
			margin-bottom: 30px;
		}
		position: relative;
	}
	&__row{
		@include roww(20px);
		@include media-breakpoint-up(sm){
			@include roww(30px);
		}
	}
	&__cross{
		@extend .btn;
		@extend .btn-outline-secondary;
		&:hover{
			background-color: $danger!important;
			border-color: $danger!important;
			.icon{
				stroke: $white;
			}
		}
		position: absolute;
		z-index: 1;
		top: -1px;
		right: -1px;

		display: flex;
		align-items: center;
		justify-content: center;

		width: 36px;
		height: 36px;
		padding: 0;

		.icon{
			font-size: 10px;
			stroke: $black;
			stroke-width: 2px;
		}

	}
	&__img{
		width: 100px;
		height: 100px;
		@media (min-width: 360px) {
			width: 138px;
			height: 138px;
		}
		@include media-breakpoint-up(sm){
			width: 120px;
			height: 120px;
		}
		@include media-breakpoint-up(md){
			margin-right: 20px;
		}
		@include media-breakpoint-up(lg){
			margin-right: 0;
		}
		@include media-breakpoint-up(xl){
			margin-right: 20px;
		}

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__inner-row{
		align-items: center;
		@include media-breakpoint-between(lg, xl){
			@include roww(20px);
		}
	}
	&__txt-col{
		@include media-breakpoint-up(xl){
			align-self: flex-start;
		}

		margin-bottom: 10px;
		@include media-breakpoint-up(md){
			margin-bottom: 0;
		}
	}
	&__tag{
		display: inline-flex;
		background: $danger;
		border-radius: 20px;

		font-weight: bold;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: $white;

		margin-bottom: 20px;
		padding: 0px 7.5px;
		font-size: 8px;
		line-height: (12/8);
		@include media-breakpoint-up(md){
			margin-bottom: 16px;
			padding: 4px 8px;
			font-size: 10px;
			line-height: (12/10);
		}
	}
	&__code{
		font-size: 10px;
		margin-bottom: 10px;
		@include media-breakpoint-up(md){
			font-size: 12px;
			margin-bottom: 8px;
		}
		line-height: (14/12);
		color: rgba(51, 51, 51, 0.5);
	}
	&__title{
		font-size: 12px;
		line-height: (20.5/14);
		@include media-breakpoint-up(sm){
			font-size: 14px;
			line-height: (20.5/14);
		}

		display: flex;
		align-items: center;
		color: $primary;
	}
	&__inp-col{
		@include media-breakpoint-down(md){
			position: absolute;
			top: 100%;
			left: -1px;
			width: calc(100% + 2px) !important;
			max-width: calc(100% + 2px) !important;
			padding: 0!important;
		}
		@include media-breakpoint-up(md){
			margin-right: 21px;
		}
		@include media-breakpoint-up(lg){
			margin-right: 0;
		}
		@include media-breakpoint-up(xl){
			margin-right: 40px;
		}
	}
	&__inputs{
		@include media-breakpoint-up(md){
			width: 167px;
		}
		@include media-breakpoint-up(lg){
			width: 150px;
		}
		@include media-breakpoint-up(xl){
			width: 167px;
		}

		display: flex;
		align-items: flex-start;
	}
	&__i-btn{
		flex-shrink: 0;
		width: 40px;
		height: 40px;
		padding: 0;

		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;

		font-size: 16px;

		@extend .btn;
		@extend .btn-outline-secondary;

		background-color: $white!important;
		border-color: $secondary!important;
		color: $black!important;
		&:hover{
			position: relative;
			z-index: 1;
			background-color: $white!important;
			border-color: $primary!important;
			color: $black!important;
		}
		&:active{
			color: $white!important;
			background-color: $primary!important;
		}

		&--min{
			margin-right: -1px;
		}
		&--plus{
			margin-left: -1px;
		}
	}
	&__amount-input{
		flex-grow: 1;
		text-align: center;
	}
	&__price-col{
		@include media-breakpoint-up(md){
			min-width: 107px;
		}
		@include media-breakpoint-up(lg){
			min-width: 128px;
		}
	}
	&__price--old{
		font-size: 10px;
		line-height: (12/10);
		@include media-breakpoint-up(sm){
			font-size: 12px;
			line-height: (14/12);
		}
		text-decoration-line: line-through;
		color: $danger;
		margin-bottom: 4px;
	}
	&__price--new{
		font-size: 14px;
		line-height: (19/16);
		@include media-breakpoint-up(sm){
			font-size: 16px;
			line-height: (19/16);
		}
	}
	//box
	//box
	&__box{
		border-top: 4px solid $primary;
		background-color: $light;

		padding: 18px 20px 24px;
		@include media-breakpoint-up(md){
			padding: 30px 30px 24px;
		}
	}
	&__order-txt{
		font-weight: 300;
		font-size: rem(24);
		line-height: 1;
		color: $body-color;
		margin-bottom: 12px;
	}
	&__o-rows{
		padding-bottom: 12px;
	}
	&__o-row{
		@include roww(10px);
		font-weight: 300;

		font-size: 14px;
		line-height: (24/14);
		&--result{
			margin-bottom: 24px;
		}
	}
	&__result{
		font-weight: 400;
		font-size: 24px;
		line-height: 1.6;
	}
	//promo
	&__promo{
		display: flex;
		margin-bottom: 36px;
	}
	&__input-wrap{
		flex-grow: 1;
	}
	&__input{
		padding: 11px 19px;
		font-weight: 300;

		font-size: 14px;
		line-height: (24/14);
	}
	&__p-btn{
		@extend .btn;
		@extend .btn-secondary;
		background-color: $white!important;
		color: $primary!important;
		&:hover{
			background-color: $primary!important;
			color: $white!important;
			border-color: $primary;
		}

		flex-shrink: 0;
		width: 50px;
		height: 48px;
		padding: 0;

		display: flex;
		align-items: center;
		justify-content: center;

		.icon{
			font-size: 14px;
		}
	}
	&__btns-box{
		& > *{
			margin-bottom: 12px;
		}
		& > *:last-child{
			margin-bottom: 0;
		}
		padding-bottom: 12px;
	}
	&__bb-btn{
		display: block;
		&--green{
			@extend .btn;
			@extend .btn-primary;
		}
		&--white{
			@extend .btn;
			@extend .btn-outline-primary;

			background-color: $white!important;
			color: $primary!important;
			&:hover{
				background-color: $primary!important;
				color: $white!important;
			}
		}
	}
	&__sm{
		@include media-breakpoint-down(md){
			max-width: 210px;
		}
		@include media-breakpoint-up(lg){
			max-width: 210px;
		}
		font-size: 10px;
		line-height: 1.4;
		margin: 0 auto;
	}
	&__{}
	&__{}
	&__{}
} // end.sCart